// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

// ADjust title size
.hero-title, .site-title {
  font-size: 7rem;      // Adjust as needed
  text-align: left;
  margin-left: 0;
}